* {
  margin: 0;
  padding: 0;
}
nav {
  background-color: cadetblue;
  font-size: 30px;
  font-family: "Times New Roman", Times, serif;
}
#mouse:hover {
  color: white;
}
#mouse {
  padding: 0px 30px;
}
.flex {
  display: flex;
  flex-flow: row wrap;
}
.bg-tuscan {
  background-color: #815355;
}
.bg-raisen {
  background-color: #24191a;
}
.bg-yellow {
  background-color: yellow;
}
.bg-purple {
  background-color: purple;
}
.whole {
  flex-basis: 100%;
}
.one-third {
  flex-basis: calc(100% / 3);
}
.two-third {
  flex-basis: calc(100% / 3 * 2);
}
.fifty {
  flex-basis: calc(100% / 2);
}
.font-white {
  color: white;
}
.text-center {
  text-align: center;
}
.text-left {
  text-align: left;
}
.text-right {
  text-align: right;
}
.sub {
  min-height: 100px;
  flex-basis: calc(100% / 3 - 10px);
  margin: 5px;
}
.right-sub {
  max-height: 100px;
  flex-basis: calc(100% - 10px);
  margin: 5px;
}
.grow {
  flex-grow: 1;
}
.fifteen {
  flex-basis: 15%;
}
.eighty-five {
  flex-basis: 85%;
}
.sales-menu {
  align-self: flex-start;
}
.sale-item {
  max-height: 100px;
  flex-basis: calc(100% - 10px);
  margin: 5px;
}
.items-info {
  min-height: 85px;
  flex-basis: calc(100% / 2 - 10px);
  margin: 5px;
}
.image-size {
  max-width: 75px;
  float: left;
}
.info-size {
  font-size: 16px;
}
.main-input {
  margin: auto;
  height: 480px;
  width: 50%;
  background-color: coral;
  border: 3px solid black;
  padding: 20px;
  text-align: center;
  color: white;
}
#company-info {
  background-color: #c3b299;
  position: absolute;
  left: 0;
  bottom: 0;
  height: 100px;
  width: 100%;
}
