* {
  margin: 0;
  padding: 0;
}
html,
body {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
}
nav {
  background-color: cadetblue;
  font-size: 30px;
  font-family: "Times New Roman", Times, serif;
}
.nav-item .active {
  background-color: rgb(129, 129, 199);
}
#mouse:hover {
  color: white;
}
#mouse {
  padding: 0px 30px;
}
.flex {
  display: flex;
  flex-flow: row wrap;
}
.bg-tuscan {
  background-color: #815355;
}
.bg-raisen {
  background-color: #24191a;
}
.bg-yellow {
  background-color: yellow;
}
.bg-purple {
  background-color: purple;
}
.whole {
  flex-basis: 100%;
}
.one-third {
  flex-basis: calc(100% / 3);
}
.two-third {
  flex-basis: calc(100% / 3 * 2);
}
.fifty {
  flex-basis: calc(100% / 2);
}
.font-white {
  color: white;
}
.mono {
  font-family: monospace;
}
.text-center {
  text-align: center;
}
.text-left {
  text-align: left;
}
.text-right {
  text-align: right;
}
.main-container {
  margin: 5px;
}
.sub {
  min-height: 100px;
  flex-basis: calc(100% / 3 - 10px);
  flex-grow: 1;
  margin: 5px;
}
.right-sub {
  min-height: 100px;
  flex-basis: calc(100% - 10px);
  flex-grow: 1;
  margin: 5px;
}
.grow {
  flex-grow: 1;
}
.fifteen {
  flex-basis: calc(15% - 10px);
  margin: 5px;
}
.eighty-five {
  flex-basis: calc(85% - 10px);
  margin: 5px;
}
.sales-menu {
  align-self: flex-start;
}
.sale-item {
  max-height: 100px;
  flex-basis: calc(100% - 10px);
  margin: 5px;
  color: white;
}
.items-info {
  min-height: 85px;
  flex-basis: calc(100% / 2 - 10px);
  margin: 5px;
}
.image-size {
  max-width: 75px;
  float: left;
}
.image-size:hover {
  transform: scale(3.3);
}
.paragraph {
  font-family: "Roboto Mono", monospace;
  font-size: 16px;
  color: white;
}
.sale-links {
  text-decoration: none;
  color: white;
  font-family: Arial, Helvetica, sans-serif;
}
.top-button {
  background-color: white;
  color: black;
  text-decoration: none;
}
.contact-main {
  margin: 5px;
}
.main-input {
  margin: auto;
  height: 480px;
  width: 50%;
  background-color: coral;
  border: 3px solid black;
  padding: 20px;
  text-align: center;
  color: white;
}
#company-info {
  background-image: url(https://cdn.pixabay.com/photo/2018/07/01/20/01/mercedes-3510327_1280.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  height: 100%;
  text-shadow: 2px 2px black;
  text-align: center;
}
#comment-form {
  height: 100%;
  width: 100%;
}
.footer-image {
  width: 100%;
}
@media (max-width: 740px) {
  .sub {
    flex-basis: calc(100% / 2 - 10px);
  }
}
@media (max-width: 580px) {
  .sub {
    flex-basis: calc(100% - 10px);
    width: 100vw;
  }
}
@media (max-width: 580px) {
  .right-sub {
    flex-basis: calc(100% - 10px);
    width: 100vw;
    min-height: 100px;
  }
}
@media (max-width: 580px) {
  .bottom-left {
    flex-basis: 100%;
  }
}
@media (max-width: 580px) {
  .items-info {
    flex-basis: calc(100% - 10px);
  }
}
@media (max-width: 580px) {
  .main-input {
    flex-basis: 100%;
  }
}
@media (max-width: 700px) {
  .radio {
    flex-basis: 100%;
    align-content: flex-start;
    text-align: left;
  }
}
